:root {
  --mobile-bp: 1024px;
                
                     }
  :root .row.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    :root .row.no-gutters > [class^="col-"],
    :root .row.no-gutters > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0; }
  :root html {
    font-family: 'Open Sans'; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Italic.eot");
  src: url("./fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Italic.woff2") format("woff2"), url("./fonts/OpenSans-Italic.woff") format("woff"), url("./fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-BoldItalic.eot");
  src: url("./fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("./fonts/OpenSans-BoldItalic.woff") format("woff"), url("./fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot");
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("./fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("./fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-SemiBoldItalic.eot");
  src: url("./fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("./fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-SemiBold.eot");
  src: url("./fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-SemiBold.woff2") format("woff2"), url("./fonts/OpenSans-SemiBold.woff") format("woff"), url("./fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Bold.eot");
  src: url("./fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Bold.woff2") format("woff2"), url("./fonts/OpenSans-Bold.woff") format("woff"), url("./fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Light.eot");
  src: url("./fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Light.woff2") format("woff2"), url("./fonts/OpenSans-Light.woff") format("woff"), url("./fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-ExtraBold.eot");
  src: url("./fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("./fonts/OpenSans-ExtraBold.woff") format("woff"), url("./fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-LightItalic.eot");
  src: url("./fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-LightItalic.woff2") format("woff2"), url("./fonts/OpenSans-LightItalic.woff") format("woff"), url("./fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Regular.eot");
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/OpenSans-Regular.woff2") format("woff2"), url("./fonts/OpenSans-Regular.woff") format("woff"), url("./fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

                                                 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

a {
  text-decoration: none; }

em {
  font-style: oblique !important; }

strong {
  font-weight: bold !important; }

.d-none {
  display: none !important; }

@media only screen and (max-width: 1023px) {
  .hide-in-mobile {
    display: none !important; } }

@media only screen and (min-width: 1023px) {
  .hide-in-desktop {
    display: none !important; } }

.overflow-hidden {
  overflow: hidden !important; }

.dblock {
  display: block !important; }

.w-100 {
  width: 100%; }

html {
  font-size: 10px; }
